.vs/
.vscode/

bin/
obj/

model.bin
tokenizer.bin

# Ignore Visual Studio temporary files, build results, and user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.log

# Ignore any Mac OS or Windows junk
.DS_Store
Thumbs.db

# Ignore compiled F# outputs
*.exe
*.dll
*.pdb
*.cache
*.db